<?xml version="1.0"?>
<robot name="simple_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
         
  <material name="grey">
        <color rgba="0.5 0.5 0.5 1"/>
    </material>

    <material name="random_color">
        <color rgba="0.3 0.7 0 1"/>
    </material>

    <material name="red">
        <color rgba="1 0 0 1"/> </material>
  

 

</robot>
