<?xml version="1.0"?>
<robot name="simple_robot" xmlns:xacro="http://www.ros.org/wiki/xacro">
         
  <xacro:property name="base_width" value="2.0"/>
  <xacro:property name="base_length" value="0.5"/>
  <xacro:property name="base_height" value="1.0"/>

  <link name="base_link">
    <visual>
      <geometry>
        <box size="0.5 0.5 0.5"/>
      </geometry>
      <origin xyz="0 0 0.25" rpy="0 0 0"/>
      <material name="grey"/>
    </visual>
  </link>

  <xacro:macro name="arm_link" params="prefix">
      <link name="${prefix}_arm_link">
      <visual>
        <geometry>
          <box size="${base_width} ${base_length} ${base_height}"/>
          </geometry>
        <origin xyz="0 0 0.25" rpy="0 0 0"/>
      </visual>
    </link>
  </xacro:macro>

  <xacro:arm_link prefix= "right"/>
  <xacro:arm_link prefix= "left"/>



 

</robot>



                                        